#logo {
  width: 80px;
}
.city-logo{
 width: 80px;
}
.brand-logo{
 width: 80px;
}
.customer-logo{
 width: 50px;
}
.mobile-logo{
 width: 80px;
}
.lab-logo{
 width: 100px;
}
.employee-logo{
 width: 100px;
}
